<div class="container" [class.is-mobile]="(mobileQuery | async).matches">
    <mat-toolbar color="primary" class="toolbar mat-elevation-z6">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">City Casts</h1>
      <span style="flex:1 1 auto"></span>
      <a mat-button (click)="sidenav.toggle()">
          <span>Login</span>
      </a>
      <a mat-icon-button [matMenuTriggerFor]="menu">
          <!-- min-width: 46px; padding: 2px; -->
        <img style="height: 32px;" src="../../../assets/img/github.png"/>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container"
        [style.marginTop.px]="(mobileQuery | async).matches ? 56 : 0">
      <mat-sidenav #sidenav class="mat-elevation-z6"
          [mode]="(mobileQuery | async).matches ? 'over' : 'side'"
          [fixedInViewport]="(mobileQuery | async).matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <p *ngFor="let content of fillerContent">{{content}}</p>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
