<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url('+ cast.createdBy.avatar + ')'}"></div>
    <mat-card-title>{{cast.createdBy.name}}</mat-card-title>
    <mat-card-subtitle>{{cast.createdAt | date: 'medium'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p> {{cast.description}} </p>
  </mat-card-content>
  <div class="card-image-list">
    <div class="card-image-wrapper" *ngFor="let image of cast.images">
      <img src="{{image}}">
    </div>
  </div>
  <mat-list>
    <mat-divider [inset]="true"></mat-divider>
    <mat-list-item>City: <b> {{cast.city}} </b></mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list>
  <mat-card-actions class="cast-actions">
    <button class="button-upvote" mat-raised-button matBadge="{{cast.upvote.length}}" matBadgePosition="after" matBadgeColor="accent">
      UPVOTE
    </button>
    <button class="button-solve" mat-raised-button (click)="solve()"
      *ngIf="!cast.solved && cast.createdBy.username === currentUser.username">
      SOLVE
    </button>
    <span style="flex:1 1 auto"></span>
    <span class="solved" *ngIf="cast.solved">
      <mat-icon>done</mat-icon>
      <p>Solved</p>
    </span>
  </mat-card-actions>
</mat-card>
