<section class="background">
    <div class="main">
      <div class="title">
        <span class="city">City</span>
        <span class="casts">Casts</span>
      </div>
      <form>
        <div class="field-wrapper">
          <input type="text" name="name" placeholder="Name" />
        </div>
        <div class="field-wrapper">
          <input type="text" name="username" placeholder="Username" />
        </div>
        <div class="field-wrapper">
          <input type="password" name="password" placeholder="Password">
        </div>
        <div class="field-wrapper">
          <input class="submit" type="submit" value="Signup">
        </div>
      </form>
      <p routerLink="/login">Login</p>
    </div>
  </section>
