<div class="container" [class.is-mobile]="(mobileQuery | async).matches">
    <mat-toolbar class="toolbar mat-elevation-z6">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">City Casts</h1>
      <span style="flex:1 1 auto"></span>
      <a mat-icon-button [matMenuTriggerFor]="menu">
          <!-- min-width: 46px; padding: 2px; -->
        <img style="height: 32px;" src="../../../assets/img/github.png"/>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container"
        [style.marginTop.px]="(mobileQuery | async).matches ? 56 : 0">
      <mat-sidenav #sidenav class="mat-elevation-z6"
          [opened]="(mobileQuery | async).matches ? false : true"
          [mode]="(mobileQuery | async).matches ? 'over' : 'side'"
          [fixedInViewport]="(mobileQuery | async).matches" fixedTopGap="56">
        <mat-nav-list>
          <mat-divider></mat-divider>
          <mat-select placeholder="City" class="select-city">
            <mat-option>Any City</mat-option>
            <mat-option *ngFor="let city of cities" [value]="city"> {{ city }} </mat-option>
          </mat-select>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink=".">All</a>
          <a mat-list-item routerLink=".">Solved</a>
          <a mat-list-item routerLink=".">Unsolved</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content style="display: flex; flex-direction: column; align-items: center;">
        <app-cast></app-cast>
        <app-cast></app-cast>
        <button mat-fab class="button-new-cast" routerLink="new"><mat-icon>add</mat-icon></button>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
